* {
    box-sizing: border-box;
    font-family: cursive;
}

body {
    width: 600px;
    margin: 10px auto;
    background-color: rgb(65, 64, 64);
}

h1 {
    text-align: center;
    background-color: aqua;
}

#form-container {
    margin: 20px auto;
    padding: 10px;
}

input,
label{
    display: block;
}

input{
    margin-bottom: 16px;
}

label{
    margin: 4px;
}